* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFDFD;
  color: #252627;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
